/* Formulário de Login */

#main-login {
    min-height: 90vh;
}

#section-login {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

/* Formulário de Cadastro */

#main-cadastro {
    min-height: 100vh;
}

#section-cadastro {
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}

/* Ambos Formulários*/

main {
    background-image: url("../img/plano-estudos.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.form-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding: 0px 10px 10px 10px;
    background-color: whitesmoke;
    border-radius: 25px;
}

.form-header p {
    text-align: center;
    color: black;
    font-weight: bold;
}

.formulario > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.formulario input {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    color: black;
    border: 2px solid black;
}

/* O outline server para remover o foco apresentado na hora de escrever no Input */
.formulario input:focus {
    outline: none;
    border: 2px solid lightgrey;
}

.formulario .form-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.formulario .form-select p {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.select-item label {
    color: black;
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.form-button button{
    padding: 0.2em 2em;
    background-color: whitesmoke;
    color: black;
    margin-top: 1em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer; 
    border: 1px solid black;
    border-radius: 3.5px;
    transition: 0.6s;
}

.form-button button:hover {
    transform: scale(1.1);
    color: blue;
}

.form-nocadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-nocadastro p {
    font-size: 14px;
    padding-top: 10px;
    color: black;
}

.form-nocadastro a {
    color: blue;
}

/* Parte feita juntamente com o Javascript */

form > label > small {
    display: none;
}